---
---

@import "{{ site.theme }}";

h3 {
    display: none;
}

h3 + p, h3 + ul {
    float: left;
    font-size: 0.75em;
    padding-right: 3em;
}

ul {
    list-style-type: none;
}

/*
h2 + ul + li {
    margin: 0 0 0.75em 0;
}
*/

h2#education {
    clear: both;
}

@media (max-width: 690px) {
    h3 + p, h3 + ul {
        float: none;
    }

    h3 + ul {
        padding: 0 !important;
    }

    h2#education {
        clear: none;
    }
}
