---
---

@import "{{ site.theme }}";

h3 {
    display: none;
}

h3 + p, h3 + ul {
    display: block;
    float: left;
    font-size: 0.75em;
    padding-right: 3em;
}

ul {
    list-style-type: none;
}

li {
    margin: 0 0 1em 0;
}

h2#education {
    clear: both;
}
